@{
    ViewData["Title"] = "ارتباط با ما";
}
<div class="text-center row">
    <div class="col-3">
        <div class="card text-white bg-secondary mb-3" style="max-width: 20rem;">
            <div class="card-header">راه های ارتباطی</div>
            <div class="card-body">
                <h4 class="card-title">شماره های تماس</h4>
                <p class="card-text">02144455444</p>
                <p class="card-text">02134367689</p>
                <p class="card-text">09125454545</p>
                <p class="card-text">09123434343</p>
            </div>
        </div>
    </div>
    <div class="col-9">
        <div class="bs-component">
            <div class="jumbotron">
                <h1 class="display-3">@ViewData["Title"]</h1>
                <p class="lead"></p>تمامی ساعت روز از طریق راه های ارتباطی میتوانید با ما در ارتباط باشید</p>
                <hr class="my-4">
                <p class="lead">
                <a class="btn btn-primary btn-lg" href="#" role="button">پشتیبانی آنلاین</a>
                </p>
            </div>
        </div>
    </div>
</div>